Library/
Temp/
obj/
QCAR/
.vs/
.idea/
*.sln
*.csproj
*.csproj.user
*.unityproj
*.userprefs
Assets/0_GITIgnore/
Assets/0_GITIgnore.meta
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/
Logs/
Packages/
builds/
MoomooFarm/Library/
